@import url('https://fonts.googleapis.com/css?family=Niconne');

html {
	margin: 0;
	padding: 0;

	font: normal 100%/1.4 sans-serif;
}


/* MASTHEAD */
div.icon-placeholder:before {
	content:url(../img/rose-loop-200x200.gif);
	width:70px;
}

div.icon-placeholder{
	display:inline-block;
	zoom:.4;
	margin-left: auto;
    margin-right: auto;
}

.current {
	text-shadow: 0px 0px 6px red;
}

ul {
	padding: 0;
	margin-bottom: 1rem;
	margin-top: -1rem;
}


.title {
	font-size: 5.5rem;
	margin: 0;
	margin-left:10px;
	font-family: 'Niconne', serif;
	color: #a00000;
	letter-spacing: .8rem;
}


/* NAVIGATION */

nav li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

nav {
 text-align: center;
 font-family: 'Niconne', serif;
}

.nav-top{
	font-size:2.5rem;
	margin-bottom: 0;
}

.nav-top li{
	padding-left:  32px;
	padding-right: 32px;
	padding-top: 0;
}
.portfolio-nav{
	font-size: 2rem;
}

/*.portfolio{
	visibility: hidden;
	margin-bottom: -30px;

}*/

.subnav {
	font-size: 1.5rem;
	margin-top: 0px;
}

.subnav li {
	padding-left:  15px;
	padding-right: 15px;
	margin-top: -10px;

}

hr{
	margin: 0;
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
}
/*blog articles*/

.article-title{
	font-size: 1.5rem;
	margin-left: auto;
    margin-right: auto;
	max-width: 650px;

}

.article-list{
	max-width: 1000PX;
	margin-left: auto;
    margin-right: auto;
    
    list-style: none;
    font-family: sans-serif;
}

#feed-button p{
	margin-top: 20px;
}

article img {
	width: 100%;
	max-width:1000px;
	height:auto;
	margin-bottom: 60px;
}

#disqus_thread {
	max-width: 1000px;
	margin-left: auto;
    margin-right: auto;
}

/*common*/

a {
	text-decoration: none;
	color:black;
}

.redlink {
	color: #a00000;
	text-decoration: underline;
}

.centerText, #copy {
	text-align: center;
}

#headshot{
    width: 200px;
    border-radius: 100%;
    box-shadow: 0px 0px 10px #878787;
    margin-top: 15px;
}



#bio {
	max-width: 1000px;
	margin-left: auto;
    margin-right: auto;
}

#bio-card{
	border: 2px solid lightgrey;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}

#circle-shape-example p { 
  line-height: 1.5; 
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

}
#circle-shape-example .curve { 

  min-width: 150px;
  float: left;
  margin-right:.5rem; 

  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
}

#feed-button{

	margin-top: -20px;
	margin-bottom: -30px;
}

h1 {
	font-family: 'Niconne', serif;
	font-size: 2.5rem;
}

.img {
	height: 300px;
}

#top-0 {
	margin-top: 0;
}

#image-view {
	margin-left: auto;
	margin-right: auto;
}


/*video gallery*/

#videos{
	display: block;
	max-width: 1270px;
	margin-right: auto;
	margin-left: auto;

}

#videos img{
	width:250px;

}

.containingBlock {
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	
}


#videos h2{
	display:none;
}
h2{
	margin:0;
}

.inline-link {
	color: blue;
	text-decoration: underline;
}
/*article text formatting*/
article p{
	text-align: left;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

article a{
	text-decoration: underline;
	color: blue;
}

h3 {
	display: inline;
}
/*3d viewer settings*/

#viewer-3d{
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-width: 1165px;
}


/* responsive */




@media (max-width: 1200px) {
		#viewer-3d{
			max-width: 583px;
		}
	}




@media (max-width: 735px){
	#bio-card {
		border: none;
	}

	div.icon-placeholder {
		zoom:.20;
	}

	.nav-top{
		font-size:1.3rem;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.subnav {
		font-size: 1.2rem;
		margin-bottom: 0;
	}

	.subnav li{
		padding: 0;
	}

	.nav-top li{
		padding-left:  1%;
		padding-right: 1%;
		padding-top: 0;
		padding-bottom: 0;
	}

	.centerText {
		margin-bottom: 15px;
		margin-top: 0;
		text-align: center;
		width: 100%;

	}


	#headshot {
		width: 100px;
	}

	hr {
		max-width: 280px
	}

	#bio {
		max-width: 100%;
	}

	.title {
		font-size: 2.5rem;
		letter-spacing: .3rem;
		margin-bottom: 0;
	}

	h1{
		font-size: 1rem;
	}

	.article-title {
		font-size: 1rem;
	}

	p{
		width: 100%;
	}

	.article-list{
		max-width: 100%;
		margin-top:40px;
	}

	#videos {
		max-width:405px;
	}

	#viewer-3d img{
		width: 300px;
		height: 169px;
	}

	#viewer-3d{
		max-width: 310px
	}

}

@media (max-width: 1300px){ /*narrows the video grid*/
	#videos {
		max-width:1015px;
	}
}

@media (max-width: 1050px){
	#videos{
		max-width: 760px;
	}
}

@media (max-width: 735px){
	#videos img{
		width: 170px;
	}
	#videos{
		width:345px;
	}

}

@media (max-width: 795px){
	#videos{
		max-width:505px;
	}
}