@import url('https://fonts.googleapis.com/css?family=Niconne');

html {
	margin: 0;
	padding: 0;

	font: normal 100%/1.4 sans-serif;
}


/* MASTHEAD */
div.icon-placeholder:before {
	content:url(../img/rose-loop-200x200.gif);
	width:70px;
}

div.icon-placeholder{
	display:inline-block;
	zoom:.4;
	margin-left: auto;
    margin-right: auto;
}

.current {
	text-shadow: 0px 0px 1px red;
}

ul {
	padding: 0;
	margin-bottom: 1rem;
	margin-top: -1rem;
}

.title {
	font-size: 5rem;
	margin: 0;
	font-family: 'Niconne', serif;
	color: #a00000;
	letter-spacing: .8rem;
}


/* NAVIGATION */

nav li {
  display: inline-block;
  padding-left: 5%;
  padding-right: 5%;
}

nav {
 text-align: center;
 font-family: 'Niconne', serif;
}

.nav-top{
	font-size:2.5rem;
}

.nav-top li{
	padding-left:  1.5%;
	padding-right: 1.5%;
	padding-top: 0;
}
.portfolio-nav{
	font-size: 2rem;
}

.subnav {
	font-size: 1.5rem;
}

.subnav li {
	padding-left:  1%;
	padding-right: 1%;
	padding-top: 0;

}
/*blog articles*/

.article-title{
	font-size: 1.5rem;
}

.article-list{
	max-width: 70%;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style: none;
    font-family: sans-serif;
}

article img {
	width: 100%;
	max-width:650px;
	height:auto;
	margin-bottom: 60px;
}

#disqus_thread {
	max-width: 650px;
	margin-left: auto;
    margin-right: auto;
}

/*common*/

a {
	text-decoration: none;
	color:black;
}


.centerText, #copy {
	text-align: center
}

#headshot{
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 200px;
    border-radius: 100%;
    box-shadow: 0px 0px 10px #878787;
}

#bio {
	max-width: 600px;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.job-titles{
	font-size:1rem;
	color: #aaa;
	display: block;
}

h1 {
	font-family: 'Niconne', serif;
}

.img {
	height: 300px;
}

body {
	min-width: 290px;
}

/*video gallery*/

.containingBlock {
	width: 49.7%;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;

}

.code{
	text-align: left;
	font-family: Courier;
	background:#bababa;
	width: 650px;
	margin-left: auto;
	margin-right: auto;
}

.code-inline{
	background:#bababa;
	font-family: Courier;
}

.inline-link {
	color: blue;
	text-decoration: underline;
}

article p{
	text-align: left;
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
}

article a{
	text-decoration: underline;
	color: blue;
}
/* responsive */

@media (max-width: 770px){
	.containingBlock { /*this is just to resize the video gallery to a single column layout on medium or small screens*/
	width: 100%;
	}
}

@media (max-width: 630px){
	.title {
		font-size: 2.5rem;
		letter-spacing: .3rem;
	}

	div.icon-placeholder {
		zoom:.20;
	}

	.nav-top{
		font-size:1.3rem;
		margin-top: 0px;
		margin-bottom: 10px;
	}

	.subnav {
		font-size: 1.2rem;
		padding-top: 15px;
		margin-bottom: 0;
	}

	.subnav li{
		padding-left:  1%;
		padding-right: 1%;
		padding-top: 0;
		padding-bottom: 0;
	}

	.nav-top li{
		padding-left:  1%;
		padding-right: 1%;
		padding-top: 0;
		padding-bottom: 0;
	}

	.centerText {
		margin-bottom: 15px;
		margin-top: 0;
	}

	.job-titles{
		font-size:.7rem;
		margin-top: 15px
	}

	#headshot {
		width: 100px;
	}

	#bio {
		max-width: 100%;
	}



}