<nav>
	<ul class="nav {{include.navclass}}">
		<li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">About</a></li>
		<li>-</li>
		<li><a href="{{site.baseurl}}/portfolio/" class="{% if page.url contains 'portfolio' or page.url contains 'animation' or page.url contains 'illustration' or page.url contains 'sculpture' %}current{% endif %}">Portfolio</a></li>
		<li>-</li>
		<li><a href="{{site.baseurl}}/blog/" class="{% if page.url contains 'blog' or page.url contains 'life' or page.url contains 'code' or page.url contains 'design' %}current{% endif %}">Blog</a></li>
	</ul>
</nav>
<hr>