---
layout: default
---
<h1 class="centerText">Animation</h1>
<nav class="portfolio-nav">
	<ul class="nav {{include.navclass}}">
		<li><a href="{{site.baseurl}}/portfolio/animation.html" class="{% if page.url == '/animation.html' %}current{% endif %}">Animation</a></li>
		<li><a href="{{site.baseurl}}/portfolio.html" class="{% if page.url == '/portfolio.html' %}current{% endif %}">Illustration</a></li>
		<li><a href="{{site.baseurl}}/blog.html" class="{% if page.url == '/blog.html' %}current{% endif %}">Sculpture</a></li>
	</ul>
</nav>