---
layout: blog
comments: true
---

<h1 class="centerText article-list">{{page.title}}</h1>

<div class="centerText article-list">{{content}}</div>
<hr>
<h1 class="centerText">Follow me</h1>

<div class="container centerText">
	<!-- Extra Small Buttons spin -->
	<a href="https://www.youtube.com/channel/UCoi5IujqQmaHU48EduXVxew"><span class="hb hb-xs spin-icon"><i class="fa fa-youtube"></i></span></a> 
	<a href="https://twitter.com/MilesOfRoses"><span class="hb hb-xs spin-icon"><i class="fa fa-twitter"></i></span></a>
	<a href="https://www.linkedin.com/in/miles-rose-44816752?trk=nav_responsive_tab_profile"><span class="hb hb-xs spin-icon"><i class="fa fa-linkedin-square"></i></span></a>
	<a href="http://milesofcrimsonroses.tumblr.com/"><span class="hb hb-xs spin-icon"><i class="fa fa-tumblr-square"></i></span></a> 
	<a href="{{site.baseurl}}/feed.xml"><span class="hb hb-xs spin-icon"><i class="fa fa-rss-square"></i></span></a>
	<a href="https://vimeo.com/milesrose"><span class="hb hb-xs spin-icon"><i class="fa fa-vimeo-square"></i></span></a>
	<a href="https://github.com/MilesOfRoses"><span class="hb hb-xs spin-icon"><i class="fa fa-github-square"></i></span></a>
	<a href="https://www.flickr.com/photos/146669889@N04/albums"><span class="hb hb-xs spin-icon"><i class="fa fa-flickr"></i></span></a>		<!--  Extra Small Buttons spin  End -->
</div><!-- /.container -->

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//milesrose-net.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

